#mainBodyFlexContainer{
    display: flex;
    margin: 2%;
}

#mainBodyFlexItems1{
   /* background-color: aqua; */
    width: 50vw;
    /* margin: 1.5% 1.5% 0 1.5%; */
    height: 100vh;
}

#mainBodyFlexItems2{
    
    width: 50vw;
    margin: 1.5%;
    height: 100%;
}

body{
    background-color: #3D087B;
}

#clockImage{
    height: 10%;
    width: 15vw;
}

#ClockFlexBox{
    display: flex;
    justify-content: space-between ;
}

#messageBox{
    background-color: #FFFFFF;
    height: auto;
    width: 13vw;
    padding: 2%;
    text-align: center;
    border-radius: 2vh;
    font-size: 100%;
    color: #858585;
}

#menuBox{
    background-color: #FFFFFF;
    width: inherit;
    border-radius: 8px;
}

#SetWakeUpTime , #SetLunchTime ,#SetNapTime, #SetNightTime{
    display: grid;    
    grid-template-columns: 1fr 2fr 2fr  ;
    grid-template-rows: auto;
    padding: 2% 2%;
}


.line{
    width: 1px;
    height: 55px;
    border: 1px solid black;
    background-color: black; 
    border-collapse: separate;
    margin: 0  0  0 4% ;
    padding: 0;
}

.spanClass{
    color: #3D087B;
    font-size: 1.1em;
    font-family: sans-serif;
}

.optionClass
{
    color : #3D087BDE;
    border: lightgray;
       
}

.optionClass2
{
    /* color : #ebeaecde; */
    color: black;
    border: lightgray;
    /* background-color: rgb(36, 49, 59); */
    background:linear-gradient(to right , skyblue , pink , lightgray) ;
    width: 100%;
    height: 8vh;
    border-radius: 5px;
    font-size: 3.8vw;
       
}


#messageParaAsPerTime{
    background-color: #5F0089;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    text-shadow:  2px 2px 3px white;
}

#setAlarmGridContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:  1fr 2fr ;
   
    text-align: center;
}

#setAlarmGridItem1{
    background: linear-gradient(to right , purple, lightpink);
    grid-row:  1 / 1  ;
    font-size: larger;
    font-weight: bolder;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    padding: 5%;
    margin: 2%;
    border-radius: 5px;
}



#setAlarmGridItem2{
    background-color:  #a147c8;
    grid-row:  1 / span 2  ;
    border-radius: 5px;
    color: #dad0da;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    padding: 4%;
    margin: 2%;
    font-style: initial;
    font-size: larger;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#timeDiv{
    text-align: center;
    vertical-align: middle;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 2%;
    
    
}

#timeDiv2{
    text-align: center;
    vertical-align: middle;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;   
    display: none;
    
}


#timeText{
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: 18%;
    background-color: white;
    height: 10vh;
    padding-top: 7%;
    margin: auto;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
}

#zindex2{
    background-color: white;
    border-radius: 6px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    position: relative;
    bottom: 6px;
    height: 20px;
    z-index: -2;
}



#zindex3{
    background-color: rgb(189, 182, 182);
    border-radius: 6px;
    width: 50%;
    margin-left: 25%;
    margin-right: 15%;
    color: rgb(189, 182, 182);
    position: relative;
    bottom: 9px;
    height: 20px;
    z-index: -4;
}

#timeText2{
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: 18%;
    background-color: white;
    height: 10vh;
    padding-top: 7%;
    margin: auto;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

#hours{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
    padding-top: 4%;
}


#hours2{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
    padding-top: 4%;
}

#mins{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;   
    padding-top: 4%;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
}


#mins2{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;   
    padding-top: 4%;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
}

#sec{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    padding-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
}

#sec2{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    padding-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
}

.colon{
    padding-top: 6.5%;
    font-size: x-large;
}

.colon2{
    padding-top: 6.5%;
    font-size: x-large;
}

#AMPM{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
    padding-top: 7%;
    background: url('assets/Duration.png');
    background-repeat: no-repeat;
    background-size: cover;
}


#AMPM2{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
    padding-top: 7%;
    background: url('assets/Duration.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#grabSomeBreakfast{
    background-color:  #FFFFFF;
    color:#8E53F0;
    text-align: center;
    vertical-align: middle;
    height: fit-content;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding: 1.52%;
    border-radius: 5px;
}


#grabSomeBreakfastheading{
    color:#8E53F0;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-family:fantasy;
    font-size: 1em;
    text-shadow:  0 1px  #8E53F0;
}


#imageCurtains{
    height: 100% ;
    width: 100%;
    border-radius: 5px;
}


#timeText, #hours, #mins, #sec , #AMPM {
    font-size: 1.1em ;

}


#allIcons{
    display: grid;
    height: 20%;
    width: 60%;
    background-color: #FFFFFF;
    grid-template-columns:  auto auto auto ;
    padding: 4% 4%;
    gap: 8px;
    display: none;
}




@media screen and (min-width : 120px) and (max-width : 780px){


#mainBodyFlexContainer{
    display: flex;
    flex-direction: column;
}

    
#hours, #mins, #sec , #AMPM, #timeText {
    font-size: 1.2vw ;

}

#mainBodyFlexItems1{
    /* background-color: aqua; */
     width: 100vw;
     margin: 1.5%;
     height: 100%;
 }
 

#mobileviewZindex2{
   
    height: 10px;
    width: 70%;
    background-color: rgb(215, 212, 212);
    margin-left: 15%;
    z-index: -2;
    border-radius: 6px;
    position: relative;
    bottom: 4px;
    color: rgb(231, 229, 229);
}

#mobileviewZindex3{
   
    height: 10px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin-left: 25%;
    z-index: -3;
    border-radius: 6px;
    position: relative;
    bottom: 8px;
    color: rgb(231, 229, 229);
}



#zindex3, #zindex2{
    display: none;
}

#grabSomeBreakfast{
    display: none;
}

#imageTag{
    height: 50vh;
}

#allIcons{
    display: grid;
    height: 20%;
    width: 85%;
    background-color: #FFFFFF;
    grid-template-columns:  auto auto auto ;
    padding: 4% 4%;
    gap: 8px;
    border-radius: 4px;
}

#menuBox {
    display: none;
}

#timeDiv{
    display: none;
}




/* for Time in mobile view  */


#timeDiv2{
    text-align: center;
    vertical-align: middle;
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;   
    font-size: 4vh;
    
    
}



#timeText2{
    text-align: center;
    vertical-align: middle;
    
    width: 18%;
    background-color: white;
    height: 8vh;
    padding-top: 3%;
    margin: auto;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




#hours2{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
    padding-top: 2%;
    font-size: 3vh;
}




#mins2{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;   
    padding-top: 2%;
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
    font-size: 3vh;
}



#sec2{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    padding-top: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
    font-size: 3vh;
}



.colon2{
    padding-top: 6.5%;
    font-size: 1.5vw;
}



#AMPM2{
    text-align: center;
    vertical-align: middle;
    background-color: #F6E2FF;
    height: auto;
    width: 18%;    
    color:#3D087B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px 1vw ;
    padding-top: 3%;
    background: url('assets/Duration.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3vh;
}



/* For time in mobile view  */


#messageParaAsPerTime, #setAlarmGridContainer{
    display: none;
}

#selectOptionOnlyforMobile{
    background-color: #FFFFFF;
    width: 65%;
    border-radius: 5px;
    background-color: grey;
    display: visible;
}

#takingAllValuesForMobile{
    width: 75%;
    background-color: skyblue;
    border-radius: 5px;
}

#mobileWakeUptime,#mobileLunchtime,#mobileNaptime,#mobileeveningtime{
    color: #8E53F0;
}

}


@media screen and (min-width : 781px) and (max-width : 3500px){
    
    #hours, #mins, #sec , #AMPM, #timeText {
        font-size: 1.5vw ;
    
    }
    
#mobileviewZindex2{
    display: none;
}


    #selectOptionOnlyforMobile{
        display: none;
    }
    
    }